<!-- Post and main page content -->
<main class="main post-page" style="margin-top: 50px;">
    <article class="article-entry" style="margin-bottom: 40px;">
        <%- page.content %>
    </article>
    <!-- license  -->
    <% if(theme.copyright.enable === true && page.copyright !== false) { %>
        <div class="license-wrapper">
            <p><%- __('author') %>：<a href="<%- config.url %>"><%- config.author %></a>
            <p>Description link：<a href="<%- page.permalink %>"><%- page.permalink %></a>
            <p>Issue Date：<a href="<%- page.permalink %>"><%- (page.date).format('MMMM Do YYYY, h:mm:ss a') %></a>
            <p>Updated：<a href="<%- page.permalink %>"><%- (page.updated).format('MMMM Do YYYY, h:mm:ss a') %></a>
            <p>Copyright Notice：<%- theme.copyright.license %></p>
        </div>
    <% } %>
    <a style="font-family: Oswald-Regular; color:#F75357; margin-top: 300px;" href=<%- config.root %>>Home</a>
    <!-- paginator  -->
    <ul class="post-paginator">
        <li class="previous">
            <% if (page.next){ %>
                <a href= "<%- url_for(page.next.path) %>" title= "<%- page.next.title %>">
                    <div style="font-size: 20px;" class="nextSlogan prevTitle">Previous Post</div>
                </a>
                 <div style="font-size: 14px; color:#8c8c8c;"><%- page.next.title || '[Untitled Post]' %></div>
            <% } %>
        </li>

        <li class="next">
            <% if (page.prev){ %>
                <a href= "<%- url_for(page.prev.path) %>" title= "<%- page.prev.title %>">
                    <div style="font-size: 20px;" class="prevSlogan nextTitle">Next Post</div>
                </a>
                 <div style="font-size: 14px; color:#8c8c8c;" ><%- page.prev.title || '[Untitled Post]' %></div> 
            <% } %>
        </li>
    </ul>
    <!-- comments plugins -->
    <%- partial('_partial/comment/livere') %>
    <%- partial('_partial/comment/disqus') %>
    <%- partial('_partial/comment/gitment') %>
    <!-- partial('_partial/comment/changyan') -->
    <%- partial('_partial/comment/youyan') %>
    <%- partial('_partial/comment/custom') %>
    <%- partial('_partial/comment/valine') %>
    <!-- 评论 -->
</main>